/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
node_modules/bootbox/bootbox.js
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/webpack.config.js
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/tslint.json
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/tsconfig.json
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/postcss.config.js
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/package.json
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/package-lock.json
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/index.html
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/guides/index.html
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/docs/index.html
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/sweetalert/sweetalert.min.js
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/sweetalert/sweetalert.js.map
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/js/landing-text-rotater.js
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/js/index.js
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/js/add-preview-buttons.js
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/images/vs.svg
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/images/transition-top.svg
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/images/pattern@2x.png
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/images/pattern.png
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/images/modal-fb-example@2x.png
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/images/modal-examples@2x.png
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/images/modal-examples.png
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/images/logo.svg
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/images/logo-small.svg
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/images/heart-icon.svg
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/images/github.svg
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/css/variables.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/css/table.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/css/normalize.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/css/index.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/css/highlight.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/css/header.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/css/guide.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/assets/css/app.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs/CNAME
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/layout.hbs
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/layout-guides.hbs
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/layout-docs.hbs
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/index.hbs
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/sweetalert
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/images/pattern@2x.png
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/images/pattern.png
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/images/modal-fb-example@2x.png
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/images/modal-examples@2x.png
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/images/modal-examples.png
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/images/logo.svg
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/images/logo-small.svg
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/images/heart-icon.svg
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/images/github.svg
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/css/variables.styl
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/css/table.styl
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/css/normalize.styl
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/css/index.styl
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/css/highlight.styl
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/css/header.styl
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/css/guide.styl
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/css/app.styl
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/assets/swal.gif
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/assets/logotype.png
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/README.md
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/LICENSE.md
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/.travis.yml
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/.gitignore
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/.editorconfig
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/.babelrc
package-lock.json
node_modules/sweetalert/typings/sweetalert.d.ts
node_modules/sweetalert/typings/modules/utils.d.ts
node_modules/sweetalert/typings/modules/state.d.ts
node_modules/sweetalert/typings/modules/options/index.d.ts
node_modules/sweetalert/typings/modules/options/deprecations.d.ts
node_modules/sweetalert/typings/modules/options/content.d.ts
node_modules/sweetalert/typings/modules/options/buttons.d.ts
node_modules/sweetalert/typings/modules/markup/overlay.d.ts
node_modules/sweetalert/typings/modules/markup/modal.d.ts
node_modules/sweetalert/typings/modules/markup/index.d.ts
node_modules/sweetalert/typings/modules/markup/icons.d.ts
node_modules/sweetalert/typings/modules/markup/content.d.ts
node_modules/sweetalert/typings/modules/markup/buttons.d.ts
node_modules/sweetalert/typings/modules/init/text.d.ts
node_modules/sweetalert/typings/modules/init/overlay.d.ts
node_modules/sweetalert/typings/modules/init/modal.d.ts
node_modules/sweetalert/typings/modules/init/index.d.ts
node_modules/sweetalert/typings/modules/init/icon.d.ts
node_modules/sweetalert/typings/modules/init/content.d.ts
node_modules/sweetalert/typings/modules/init/buttons.d.ts
node_modules/sweetalert/typings/modules/event-listeners.d.ts
node_modules/sweetalert/typings/modules/class-list/index.d.ts
node_modules/sweetalert/typings/modules/actions.d.ts
node_modules/sweetalert/typings/core.d.ts
node_modules/sweetalert/package.json
node_modules/sweetalert/dist/sweetalert.min.js
node_modules/sweetalert/README.md
node_modules/sweetalert/LICENSE.md
node_modules/promise-polyfill/test/promise.js
node_modules/promise-polyfill/test/adapter.js
node_modules/promise-polyfill/promise.min.js
node_modules/promise-polyfill/promise.js
node_modules/promise-polyfill/package.json
node_modules/promise-polyfill/karma.conf.js
node_modules/promise-polyfill/bower.json
node_modules/promise-polyfill/README.md
node_modules/promise-polyfill/LICENSE
node_modules/promise-polyfill/CHANGELOG.md
node_modules/promise-polyfill/.travis.yml
node_modules/promise-polyfill/.npmignore
node_modules/promise-polyfill/.eslintrc.js
node_modules/promise-polyfill/.editorconfig
node_modules/es6-object-assign/package.json
node_modules/es6-object-assign/index.js
node_modules/es6-object-assign/dist/object-assign.min.js
node_modules/es6-object-assign/dist/object-assign.js
node_modules/es6-object-assign/dist/object-assign-auto.min.js
node_modules/es6-object-assign/dist/object-assign-auto.js
node_modules/es6-object-assign/auto.js
node_modules/es6-object-assign/README.md
node_modules/es6-object-assign/LICENSE
node_modules/bootbox/tests/vendor/jquery-1.8.3.min.js
node_modules/bootbox/tests/vendor/jquery-1.11.2.min.js
node_modules/bootbox/tests/vendor/jquery-1.10.2.min.js
node_modules/bootbox/tests/vendor/bootstrap-3.3.2.min.js
node_modules/bootbox/tests/vendor/bootstrap-3.1.1.min.js
node_modules/bootbox/tests/vendor/bootstrap-3.0.0.min.js
node_modules/bootbox/tests/prompt.test.coffee
node_modules/bootbox/tests/locales.test.coffee
node_modules/bootbox/tests/dialog.test.coffee
node_modules/bootbox/tests/defaults.test.js
node_modules/bootbox/tests/confirm.test.coffee
node_modules/bootbox/tests/bootbox.test.js
node_modules/bootbox/tests/alert.test.js
node_modules/bootbox/package.json
node_modules/bootbox/karma.conf.js
node_modules/bootbox/karma-jquery-latest.conf.js
node_modules/bootbox/karma-base.conf.js
node_modules/bootbox/header.txt
node_modules/bootbox/build/calculate-size
node_modules/bootbox/bower.json
node_modules/bootbox/bootbox.min.js
node_modules/bootbox/README.md
node_modules/bootbox/LICENSE.md
node_modules/bootbox/Gruntfile.js
node_modules/bootbox/CONTRIBUTING.md
node_modules/bootbox/CHANGELOG.md
node_modules/bootbox/.travis.yml
node_modules/bootbox/.npmignore
node_modules/bootbox/.jshintrc
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/sweetalert.js
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/sweetalert.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/sweetalert.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/polyfills.js
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/utils.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/state.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/markup/overlay.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/markup/modal.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/markup/index.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/markup/icons.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/markup/content.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/markup/buttons.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/init/text.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/init/overlay.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/init/modal.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/init/index.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/init/icon.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/init/content.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/init/buttons.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/event-listeners.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/class-list/index.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/actions.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/css/text.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/css/icons/warning.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/css/icons/success.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/css/icons/info.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/css/icons/error.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/css/icons.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/css/content.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/css/buttons.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/css/button-loader.css
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/core.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/guides/index.md
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/docs/index.md
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/js/landing-text-rotater.js
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/js/index.js
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/js/add-preview-buttons.js
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/images/vs.svg
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/docs-src/assets/images/transition-top.svg
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/init/text.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/init/overlay.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/init/modal.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/options/index.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/options/deprecations.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/options/content.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/options/buttons.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/markup/overlay.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/markup/index.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/markup/icons.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/markup/content.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/markup/buttons.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/sweetalert.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/utils.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/state.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/init/index.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/init/icon.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/init/content.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/init/buttons.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/event-listeners.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/class-list/index.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/modules/actions.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/typings/core.d.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/test/utils.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/test/index.test.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/test/icons.test.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/test/content.test.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/test/buttons.test.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/test/button-options.test.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/test/actions.test.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/options/index.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/options/deprecations.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/options/content.ts
src/adminBundle/Resources/views/viewCategory/sweetalert-2.1.0/src/modules/options/buttons.ts
