{# empty Twig template #}
{#para listar las categorias en la barra superior #}
{% for  category in categories %}
    <li><a href="{{path("redireccionpages",{"id":category.id})}}">{{category.name}}</a></li>
{%endfor%}