{# empty Twig template #}
{#para listar las categorias en la barra superior #}
{% for  category in categories %}

    <li class="nav-item">
        <a class="nav-link" href="{{path("redireccionpages",{"id":category.id})}}">{{category.name}}</a>

    </li>

{%endfor%}
<li class="nav-item">
<a class="nav-link" href="{{path("listaproducts")}}">Listar Todos</a>  </li>