{# empty Twig template #}
{% extends "adminBundle::inicio.html.twig"%}

{% block menu %}
{% include "adminBundle:viewCategory:menuCategory.html.twig"  with{'categories': categories} %}
{% endblock %}
{% block content %}
    {% if app.session.flashbag().get('estado') is defined %}


        {% for message in app.session.flashbag().get('estado')%}


            {% if message ==  "el Producto se ha creado correctamente"%}

                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>


            {% elseif message == "la Entrada se ha editado correctamente" %}

                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>

            {%endif%}





        {%endfor%}
    {%endif%}




    {% for llegadaproducts in producto %}
        <div class="col-lg-11" >

            <p><strong> Producto : {{llegadaproducts.name}} </strong>  </p>

            <p> Categoria:{{llegadaproducts.category.name}}</p>



    <div class="clearfix"></div>

            </hr>

        </div>
        <div class="clearfix"></div>
    {%endfor%}



{%endblock%}